<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Grace's Resume</title>
    <link rel="stylesheet" type = "text/css"href="CSS/style.css">
</head>
<body>
    <header>
        <h1>WIKIPOLI PROFANITY DETECTOR</h1>
    </header>
    <hr color="red">   
    <label>Write your posts here</label>
    <form action="" method="get">
        <input type="text" id="my text" value="text here" style="width:500px; height: 200px;">
        <a href="{{ url_for('detect') }}"><input type="button" value="SUBMIT"</a> />
    </form>
<footer>WIKIPOLI</footer>
</body>
</html>
